.sidebar-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.sidebar-header-encabezado{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
}


.sidebar-header-perfil{
    /* width: 30%; */
    border: 1px solid red;
}